---
import Php from "../../assets/icons/Php.svg";
import Symfony from "../../assets/icons/Symfony.svg";
import Server from "../../assets/icons/Server.svg";
import DataBase from "../../assets/icons/DataBase.svg";
---

<section class="mx-auto">
    <h2 class="text-2xl font-bold opacity-80 mb-2">Experiencia</h2>
    <div class="flex flex-col items-start gap-y-3">
        <h4
                class="text-xl flex items-center text-blue-900 dark:text-blue-200 font-semibold"
        >
            Desarrollador Full Stack - Servicio Público Provincial de Defensa
            Penal
        </h4>
        <div class="">
            <div class="flex flex-row justify-between items-center mb-2">
                <div
                        class="flex items-center justify-start space-x-4 dark:text-gray-400"
                >
                    <ul class="">
                        <li
                                class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full hover:bg-black/10 border-gray-900 dark:border-gray-700 dark:hover:bg-white/5"
                        >
                            <Php/>
                            <span> Php</span>
                        </li>
                        <li
                                class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full hover:bg-black/10 border-gray-900 dark:border-gray-700 dark:hover:bg-white/5"
                        >
                            <Symfony/>
                            <span> Symfony</span>
                        </li>
                        <li
                                class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full hover:bg-black/10 border-gray-900 dark:border-gray-700 dark:hover:bg-white/5"
                        >
                            <DataBase/>
                            <span> MariaDB</span>
                        </li>
                        <li
                                class="inline-flex items-center px-3 py-2 my-1 space-x-2 text-sm border
                            rounded-full hover:bg-black/10 border-gray-900 dark:border-gray-700 dark:hover:bg-white/5"
                        >
                            <Server/>
                            <span> Apache</span>
                        </li>
                    </ul>
                </div>
                <span class="text-xs whitespace-nowrap opacity-70"
                >Jun 2022 - Actualidad</span
                >
            </div>
            <div class="flex flex-col gap-y-8">
                <div class="pl-6 flex flex-col items-start justify-between">
                    <div
                            class="flex justify-between items-center gap-x-4 w-full"
                    >
						<span
                                aria-hidden="true"
                                class="h-1.5 w-1.5 rounded-full bg-[#1a4f5f] dark:bg-blue-200/80"
                        ></span>
                        <h6
                                class="mb-2 text-xl opacity-90 w-[90%] dark:text-green-200 text-green-800 font-medium"
                        >
                            Refactorización del Sitio Web Institucional
                        </h6>
                        <p class="text-xs whitespace-nowrap opacity-80">
                            7 meses
                        </p>
                    </div>
                    <p class="px-6 text-pretty">
                        Se realizó una refactorización completa del sitio web institucional, actualizando su software a
                        la última versión de Symfony 6 y reestructuración de la base de datos. Esta mejora no solo
                        optimizó el rendimiento del sitio, sino que
                        también facilitó la implementación de nuevas funcionalidades y la corrección de errores.
                    </p>
                    <p class="px-6 text-pretty">
                        A su vez se agregó un nuevo módulo de gestión de cuentas de usuarios basado en LDAP y KeyCloak,
                        lo que permitió una integración más segura y eficiente con los sistemas de autenticación
                        existentes. Esta mejora no solo optimizó la seguridad del sitio, sino que también facilitó la
                        gestión de usuarios y permisos.
                    </p>
                </div>
                <div class="pl-6 flex flex-col items-start justify-between">
                    <div
                            class="flex justify-between items-center gap-x-4 w-full"
                    >
						<span
                                aria-hidden="true"
                                class="h-1.5 w-1.5 rounded-full bg-[#1a4f5f] dark:bg-blue-200/80"
                        ></span>
                        <h6
                                class="mb-2 text-xl opacity-90 w-[90%] dark:text-green-200 text-green-800 font-medium"
                        >
                            Refactorización Sistema Registral de Pericias (legacy)
                        </h6>
                        <p class="text-xs whitespace-nowrap opacity-80">
                            3 meses
                        </p>
                    </div>
                    <p class="px-6 mb-1 text-pretty">
                        Se realizó una refactorización de un sistema de gestión interno el cuál estaba realizado con
                        CRUDBooster.
                        Se actualizó tanto el software de base, como la arquitectura de la base de datos, migrando a un
                        sistema basado en Symfony 6 y MariaDB.
                        Esta actualización no únicamente potenció la eficacia operativa del sistema, sino que además
                        agilizó tanto la integración de funciones innovadoras como la detección y solución de
                        incidencias.
                    </p>
                    <p class="px-6 mb-1 text-pretty">
                        Se recaudarón nuevos requerimientos según las experiencias de los usuarios, lo que permitió una
                        mejora significativa en la usabilidad del sistema.
                    </p>
                </div>
                <div class="pl-6 flex flex-col items-start justify-between">
                    <div
                            class="flex justify-between items-center gap-x-4 w-full"
                    >
						<span
                                aria-hidden="true"
                                class="h-1.5 w-1.5 rounded-full bg-[#1a4f5f] dark:bg-blue-200/80"
                        ></span>
                        <h6
                                class="mb-2 text-xl opacity-90 w-[90%] dark:text-green-200 text-green-800 font-medium"
                        >
                            Proyecto Gestión de Solicitudes de Licencia
                        </h6>
                        <p class="text-xs whitespace-nowrap opacity-80">
                            14 meses
                        </p>
                    </div>
                    <p class="px-6 mb-1 text-pretty">
                        Integrando un sistema embebido en Symfony 5 sobre una infraestructura ya existente, inicialmente
                        diseñada para
                        gestionar la asistencia de usuarios a sus lugares de
                        trabajo. Este avance ha logrado la capacidad de vincular
                        las solicitudes de licencia de los agentes con su
                        ausencia, mejorando el análisis de informes en más del
                        60%.
                    </p>
                    <p class="px-6 mb-1 text-pretty">
                        Se ha priorizado una interfaz de usuario sencilla y
                        eficiente en términos de experiencia (UX/UI) para
                        satisfacer las necesidades de usuarios no familiarizados
                        con sistemas web.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
